# Configuración de nivel de Log por defecto
CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
CONFIG_LOG_DEFAULT_LEVEL=5

# Opcional: Ajustes de Flash u otros periféricos
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_LOG_MAXIMUM_LEVEL=5

CONFIG_ESP_INT_WDT_TIMEOUT_MS=3000